{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container mt-5">
    <br>
    {{page.body | richtext}}
    <h3>Últimas noticias</h3>
{% for noticia in noticias %}
<div class="noticia mt-4">
    <h5><a href="{{noticia.get_url}}">{{ noticia.title }}</a></h5>
    {{ noticia.intro }}
</div>
{{ noticia.title }}
{% endfor %}
</div>
{% endblock content %}
